@tailwind base;
@tailwind components;
@tailwind utilities;

.fade-anim img {
  animation: fadeAnim 0.5s ease-in-out;
}
@keyframes fadeAnim {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@layer components {
  .slider-btn {
    @apply bg-white  text-gray-900 p-1 rounded-full cursor-pointer hover:bg-opacity-75 transition text-2xl;
  }
}
